{% extends "_layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}KisanDirect{% endblock %}
{% block body_class %}login-page sidebar-collapse{% endblock %}

{%block page_content%}
<div class="page-header header-filter page-header-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="" action="">            
            {% csrf_token %}
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Login</h4>
                <!-- <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div> -->
              </div>
              <div class="card-body ">
                <p class="card-description text-center">Or Signup</p>
                <!-- <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name...">
                  </div>
                </span> -->
                <div class="radio-tile-group">
                  <div class="input-container">
                    <input id="walk" class="radio-button" type="radio" name="radio" />
                    <div class="radio-tile">
                      <div class="icon walk-icon">                        
                        <i class="material-icons">agriculture</i> 
                      </div>
                      <label for="walk" class="radio-tile-label">Farmers</label>
                    </div>
                  </div>
              
                  <div class="input-container">
                    <input id="bike" class="radio-button" type="radio" name="radio" />
                    <div class="radio-tile">
                      <div class="icon bike-icon">
                        <i class="material-icons">business</i> 
                      </div>
                      <label for="bike" class="radio-tile-label">Buyers</label>
                    </div>
                  </div>
                </div>
              
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">smartphone</i>
                      </span>
                    </div>
                    <input type="tel" class="form-control" placeholder="Phone number...">
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password...">
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-rose btn-link btn-lg">Lets Go</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{%endblock%}