.page-header{
    background-image: linear-gradient(#68BB59, #345E2D);
}

.navbar{
    color: #ffffff;
    background-color: #1E5631 !important;
    border-bottom: 1px solid #FFFFFF;
}
    .navbar-transparent{
        border:0 !important;
    }

.mermaid svg {
    text-align: center;
}