{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />

    <!-- WhatsApp IM Tags https://ogp.me/-->
    <meta property="og:title" content="Kisan Direct" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Connects Farmers to Buyers." />
    <meta property="og:image" content="/apple-touch-icon.png" />
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="180" />
    <!-- Chrome Header-->
    <meta name="theme-color" content="#68BB59" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
    <link href="{% static 'css/kisan_direct.css' %}" rel="stylesheet" />

    <title>{% block page_title %}{% endblock %}</title>

    {% block style_base %}
    {% block layout_style %}
    {%endblock%}
    {% block extra_style %}{% endblock %}
    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">
    {% include "./top-navbar.html" %}

    {%block page_content%}{%endblock%}

    {% include "./footer.html" %}
    {% include "./script-files.html" %}

    {% block extra_scripts %}{% endblock %}
</body>

</html>